<div class="featurette" id="contact">
    <img src="./logos/waterlogo3.png" class="img-responsive about-logo">
    <h2 class="about-heading">
    <strong>WaterWise</strong> provides
    easier access to water quality reports.
    </h2>
</div>




