<div class="featurette" id="contact">
    <img class="featurette-image img-circle img-responsive pull-right" src=
    "logos/water.png">

    <h2 class="featurette-heading">
    </h2>


    <p class="lead"><strong>WaterWise</strong> is an application that provides
    easier access to water quality reports.</p>
</div>




