<div>
    <img src="logos/water3.png">

    <h1>WATER WISE</h1>


    <h3>Click a location to learn more about the water quality!</h3>
</div>


<div id="map_wrapper">
    <div class="mapping" id="map_canvas">
    </div>
</div>