<h1 class="app">Water Quality Report Search!</h1>

<form action="/movies" method="GET" role="form">
 <!--  <legend>Search for Movies</legend> -->

  <div class="form-group">
    <input type="text" class="form-control" id="" placeholder="Search by Location" name="q">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
