<div class"title">
<img src="water3.png">
<h1>WATER WISE</h1>
<h3>Click a location to learn more about the water quality!</h3>
</div>

<div id="map_wrapper">
    <div id="map_canvas" class="mapping"></div>
</div>

<!-- scripts -->

<script src="/main.js"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.GOOGLE_MAPS_KEY %>&callback=initMap">
</script>
