<h1 class="app">Water Wise</h1>

  <div id="wrapper">

    <header>
        <div id="banner"><img alt="banner" src="water.png">
        </div>
    </header>

  </div>

<form action="/results" method="GET" role="form">
  <div class="form-group">
    <input type="text" class="form-control" id="" placeholder="Search by Location" name="q"><button type="submit" class="btn btn-primary">SEARCH</button>
  </div>
</form>
