<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="../logos/waterlogo2.png" class="img-responsive logo" alt=""></a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
     <ul class="nav navbar-nav navbar-right">
      <li class="statement"><a href="#" class="tag">Your source for water quality information.</a></li>
        <li><a href="/bottle">Bottled Water</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Contact</a></li>
       <!--  <li><a href="/auth/signup">Sign Up</a></li>
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 20px;">
             <form action="/auth/signin" method="POST">
              <input id="user_username" style="margin-bottom: 15px;" type="text" name="username" placeholder="Username" size="30" />
              <input id="user_password" style="margin-bottom: 15px;" type="password" name="password" placeholder="Password" size="30" /> 
              <input class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="submit" name="commit" value="Sign In" />
            </form> -->
            <li><a href="/about">About</a></li>
           <!--  <li><a href="/account">Account</a></li> -->
  </ul> 
        </div>
    </div>
</nav>