<h1>Post Save</h1>
<form method="POST" action="/tweets">
  <input type="text" name="username" placeholder="username">
  <input type="text" name="content" placeholder="tweet">
  <input type="submit" value="Tweet">
</form>