<div class="signup">
<h1>Sign Up For A New Account</h1>
<form method="POST" action="/auth/signup">
  <input type="text" name="username" placeholder="E-mail Address">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Sign Up">
</form>
</div>