<div class="signup">
    <h1>Sign Up For A New Account</h1>
    <form action="/auth/signup" method="post">
        <input name="username" placeholder="E-mail Address" type="text">
        <input name="password" placeholder="Password" type="password">
        <input type="submit" value="Sign Up">
    </form>
</div>