body {
  background-color: white;
  height: 100%;
}

.container {
  background-color: white;
  min-height: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
}

.username {
  font-weight: bold;
  text-decoration: underline;
}

/* NavBar Styling */

.navbar-default {
  background-color: transparent;
  border-color: transparent;
  border-bottom: 3px solid black;
}

@media (min-width: 768px) {
.navbar {
  border-radius: 0px;
}

}
